<!DOCTYPE html>
<html lang="en-US">
    <head>

        <title>Building Free Simple Websites for Christ Centered Churches</title>

        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../style/flexboxgrid.min.css">
        <link rel="stylesheet" type="text/css" href="../style/style.min.css">


    </head>
    <body id="top">

        <a href="#top" id="myBtn" title="Go to top">Top</a>

<!--NAVBAR NAVBAR NAVBAR-->
        <header id="background">
            <nav>
              <div id="primaryNav" class="row around-xs">
                <div class="col-xs-12">
                  <ul class="rightNav">
                    <li><a href="#aboutSection">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="https://bbn1.bbnradio.org/english/how-to-get-to-heaven/" target="_blank">Salvation</a></li>
                  </ul>
                </div>
              </div>
            </nav>
    <!--ABOUT ABOUT ABOUT-->
            <section id="aboutSection">
                <div class="row">
                    <div class="col-xs-3 col-md-3 center-md">
                        <h1 class="aboutLeft">H<sup>3</sup></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11 col-md-6">
                        <h3 class="aboutLeft">Elegant websites with an important life giving message.</h3>
                    </div>
                </div>
                <div class="row" style="margin-right:10px;">
                    <div class="col-xs-8 col-xs-offset-4">
                        <h3 class="aboutRight">I am a freelance Web Designer who's main mission is to aid churches create simple, but effective websites to help in spreading the Gospel.</h3>
                    </div>
                </div>
            </section>
        </header>
    <!--PORTFOLIO PORTFOLIO PORTFOLIO-->

        <section id="portfolio">
            <div class="row center-xs">
                <div class="col-xs-12">
                    <h1>Past Projects</h1>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-xs-9 col-md-5">
                    <a href="http://www.drdesignremodeling.com" target="_blank">
                        <div class="contain diego fadeOut">
                            <h4>DR Design and Remodeling Site</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-9 col-md-5">
                    <a href="https://frozen-atoll-55876.herokuapp.com/" target="_blank">
                        <div class="contain calvary fadeOut">
                            <h4>An Example Church Website</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-9 col-md-5">
                    <a href="https://hubbardharvey3.github.io/WP_Example/" target="_blank">
                        <div class="contain cms fadeOut">
                            <h4>A Wordpress Church Website</h4>
                        </div>
                    </a>
                </div>
		<div class="col-xs-9 col-md-5">
                    <a href="https://pacific-taiga-48024.herokuapp.com/" target="_blank">
                        <div class="contain cmsA fadeOut">
                            <h4>Missonary Website</h4>
                        </div>
                    </a>
                </div>

            </div>
        </section>

        <!--SERVICES SERVICES SERVICES-->
        <section id="service">
            <div class="row center-xs">
                <div class="col-xs-12">
                    <h1>Ways I can help</h1>
                </div>
            </div>
            <div class="row around-xs start-xs">
                <div class="col-xs-11">
                    <ul>
                        <li class="bottomService">Work closely with you to build your church's website.</li>
                    </ul>
                </div>
            </div>
            <div class="row around-xs start-xs">
                <div class="col-xs-11">
                    <ul>
                        <li class="bottomService">Register your chosen domain name and walk you through your hosting options.</li>
                    </ul>
                </div>
            </div>
            <div class="row around-xs start-xs">
                <div class="col-xs-11">
                    <ul>
                        <li class="bottomService">Build a site through Wordpress so you can run it on your own.</li>
                    </ul>
                </div>
            </div>
	    <div class="row around-xs start-xs">
                <div class="col-xs-11">
                    <ul>
                        <li class="bottomService"><a href="mailto:hcubedcoder@gmail.com" style="text-decoration:none;color:inherit;">Contact me</a></li>
                    </ul>
                </div>
            </div>
        </section>


        <footer id="footerContent">
          <div id="copyright">
            <div  class="row">
              <div class="col-xs-12 center-xs">
                <h6>Copyright &copy; 2017 | Website by H<sup>3</sup></h6>
              </div>
            </div>
          </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.2.1.js"
		  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		  crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/H3.js"></script>
    </body>
</html>
